

<header>Movie Screenings ... </header>


<div class="container">

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Diwale Dulhaniya le jayange [DDLJ]</h5>
          <p class="card-text">Starring SRK and Kajol Amazing Romantic 
            movie of all time must watch </p>
  
             <b>Movie Details</b>
             <br>
             <em>Language :- Hindi</em>
            <br>
             <em>Show timings : -</em>
            <br>
             <ul>
               
              <li> 
                <input type="checkbox" class="btn-check" id="btn-check-outlined6" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-outlined6" (click)='add4time()'>Morning 9:00 AM to 12:00 Noon</label><br>
              </li>
              <li> 
                <input type="checkbox" class="btn-check" id="btn-check-outlined7" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-outlined7">Night 9:00 PM to 12:00 AM</label><br>
              </li>
              
            </ul>
            <br>
         <div class="btn btn-primary" (click)='nav3()'>Book Now</div>
        </div>
      </div>
  
  
  
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Hero </h5>
          <p class="card-text">Starring Allu Arjun and kartikeya .</p>
          <b>Movie Details</b>
             <br>
             <em>Language :- Telugu</em>
            <br>
             <em>Show timings : -</em>
             <ul>
               
              <li> 
                <input type="checkbox" class="btn-check" id="btn-check-outlined4" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-outlined4" (click)='add3time()'>Morning 9:00 AM to 12:00 Noon</label><br>
              </li>
              <li> 
                <input type="checkbox" class="btn-check" id="btn-check-outlined5" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-outlined5">Night 9:00 PM to 12:00 AM</label><br>
              </li>
              
            </ul>
            <br>
         <div class="btn btn-primary" (click)='nav2()'>Book Now</div>
        </div>
      </div>
    </div>
  </div>
  
  <br><br>
  
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cars</h5>
          <p class="card-text">This time it is lightening Mc queen</p>
          <b>Movie Details</b>
             <br>
             <em>Language :- Hindi,English,Tamil</em>
            <br>
             <em>Show timings : -</em>
             <ul>
               
               <li> 
                 <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
                 <label class="btn btn-outline-primary" for="btn-check-outlined" (click)='add1time()'>Morning 9:00 AM to 12:00 Noon</label><br>
               </li>
               <li> 
                 <input type="checkbox" class="btn-check" id="btn-check-outlined1" autocomplete="off">
                 <label class="btn btn-outline-primary" for="btn-check-outlined1">Night 9:00 PM to 12:00 AM</label><br>
               </li>
               
             </ul>
             <br>
          <div class="btn btn-primary" (click)='nav()'>Book Now</div>
        </div>
      </div>
    </div>
  
  
  
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> Mr.Bean : Holidays </h5>
          <p class="card-text">Star comedian Mr.Rowan Atkinson in action !.</p>
  
          <b>Movie Details</b>
             <br>
             <em>Language :- Hindi</em>
            <br>
             <em>Show timings : -</em>
             <ul>
               
              <li> 
                <input type="checkbox" class="btn-check" id="btn-check-outlined2" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-outlined2" (click)='add2time()'>Morning 9:00 AM to 12:00 Noon</label><br>
              </li>
              <li> 
                <input type="checkbox" class="btn-check" id="btn-check-outlined3" autocomplete="off">
                <label class="btn btn-outline-primary" for="btn-check-outlined3">Night 9:00 PM to 12:00 AM</label><br>
              </li>
              
            </ul>
             <br>
             <div class="btn btn-primary" (click)='nav1()'>Book Now</div>
        </div>
      </div>
    </div>
  </div>

</div>  

<footer style="margin: 0px 40%; width: 500px;">
  <b> &copy; Copyrights Reserved Vittal Screenings Limited </b>
</footer>